# Version control
.git
.gitignore

# IDE files
.idea

# Temporary files and directories
tmp
*.tmp
*.temp

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
venv
env

# Log files
*.log

# Results and output directories
results
